In [4]:
import numpy as np
import pandas as pd
import streamlit as st
import string
from PIL import Image

#LIBRARIES
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
#Graphics
#import matplotlib.pyplot as plt
#import seaborn as sns
#KNeighbors
from sklearn.neighbors import NearestNeighbors
#Scalers
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler, MinMaxScaler
#Data selection
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.decomposition import PCA
#METRICS
from sklearn.model_selection import cross_val_score
from sklearn.metrics import precision_score, recall_score,accuracy_score
from sklearn.metrics import mean_squared_error
#RANDOM
import random as rd

#global link1
########################################################### FIRST TRY
df = pd.read_csv("Beev Electric Vehicle Specs Data.csv")
df_new = pd.DataFrame(zip(df['Full Name'],df['Brand'], df['Model'], df['Main Price'], df['Category']))
df_new.rename(columns = {0:'Full Name', 1:'Brand', 2:'Model', 3:'Main Price',4: 'Category'}, inplace = True)
df_new['Main Price'].value_counts(dropna = False)   # We either drop the Nans or we fill with the average
df_new['Main Price'].fillna(df_new['Main Price'].mean(), inplace = True) 
X = df_new[['Main Price']]          
distanceKNN = NearestNeighbors(n_neighbors=3).fit(X)
distanceKNN.kneighbors([[60000]], 3, return_distance = False)
#df[['Full Name', 'Main Price']].iloc[[148, 16, 57]]
categories = list(df['Category'].unique())
categories.insert(0,"ALL")

image = Image.open('BEEV_image.png')
st.image(image)
st.title("Let's check which EV cars would suit to you")
value_one = st.text_area("text box")

#Code below to check
if category_choosen!= "ALL":
    df['Category'] == category_choosen
else: category_choosen = "" # to check if we can filter the DF if category_choosen ==""
        
# st.write("similar unique words",dict2)
label1 = "please select the category of the car you would like"
category_choosen = st.selectbox(label1,categories)
st.write(category_choosen)
if st.button('Get info'):
  st.write(value_one)
  #  for i in range(1, 1000): #len(df_lyrics_final['Lyric'])):
   #   
    #    lyrics_comparator(punct(lyrics_one), punct(df_lyrics_final['Lyric'][i]))
     #   final_dict[i] = [max_similar,similar_w_unique, similar_w_not_unique]

  #  lyrics_report(punct(lyrics_one), punct(df_lyrics_final['Lyric'][dict_sum(final_dict)]))
   # st.write(df_lyrics_final.iloc[dict_sum(final_dict)][['Artist','Song']]) #veribal 
    #link1 = df_lyrics_final.iloc[dict_sum(final_dict)][['SLink']][0]
    #st.write(type(link1))


    #st.write(link1)
   # url = f"https://www.vagalume.com.br{link1}"
   # st.write(url)

/Users/cedricpinel/opt/anaconda3/envs/streamlite/lib/python3.8/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

In [1]:
################################SECOND TRY

import numpy as np
import pandas as pd
import streamlit as st
import string
from PIL import Image

#LIBRARIES
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
#Graphics
#import matplotlib.pyplot as plt
#import seaborn as sns
#KNeighbors
from sklearn.neighbors import NearestNeighbors
#Scalers
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler, MinMaxScaler
#Data selection
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.decomposition import PCA
#METRICS
from sklearn.model_selection import cross_val_score
from sklearn.metrics import precision_score, recall_score,accuracy_score
from sklearn.metrics import mean_squared_error
#RANDOM
import random as rd

#global link1

#Code
df = pd.read_csv("Beev Electric Vehicle Specs Data.csv")
df['Main Price'].fillna(62000.0, inplace = True)
df['Range (km)'].fillna(235.0, inplace = True)
df_new = pd.DataFrame(zip(df['Full Name'],df['Main Price'],df['Range (km)'], df['Category']))
df_new.rename(columns = {0:'Full Name', 1:'Price',2:'Range',3:'Category'}, inplace = True)
df_model = df_new
df_model['Price with Incentive'] = df_model['Price'].apply(lambda item: item - 6000)

#distanceKNN.kneighbors([[60000]], 3, return_distance = False)
#df[['Full Name', 'Main Price']].iloc[[148, 16, 57]]
categories = list(df['Category'].unique())
categories.insert(0,"ALL")

#df_new[['Full Name', 'Price', 'Range', 'Category']].iloc[[66, 36, 47, 37, 64]]# result to display

### start streamlit
image = Image.open('BEEV_image.png')
st.image(image)
st.title("Let's check which EV cars would suit to you")
#value_one = st.text_area("text box")

#Defining the selectbox
label1 = "please select the category of the car you would like"
category_choosen = st.selectbox(label1,categories)
#st.write(category_choosen)

#Asking the user the Price and the Range
# Add a slider to the sidebar:
range_slider = st.sidebar.slider('Select a desired range in Kilometers',200, 800, (250))
price_slider = st.sidebar.slider('Select a desired price for the EV car',10000, 100000, (15000))

#Define the validation button
if st.button('Get EV Cars recommendation'):
    if category_choosen != "ALL":
        df_model = df_model[df_model['Category'] == category_choosen].copy()
        X = df_model[['Price', 'Range']]
        distanceKNN_cars = NearestNeighbors(n_neighbors=5).fit(X)
        result = distanceKNN_cars.kneighbors([[price_slider,range_slider]], 5, return_distance = False)
    else:
        X = df_model[['Price','Range']].copy()        
        distanceKNN_cars = NearestNeighbors(n_neighbors=5).fit(X)
        result = distanceKNN_cars.kneighbors([[price_slider,range_slider]], 5, return_distance = False)
    #st.write(result)
    for i in range(5):
        st.write(df_model[['Full Name', 'Price','Range','Category','Price with Incentive']].iloc[[result[0][i]]])

2021-12-16 14:02:47.809
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/cedricpinel/opt/anaconda3/envs/streamlite/lib/python3.8/site-packages/ipykernel_launcher.py [ARGUMENTS]

In [15]:
#
df = pd.read_csv("Beev Electric Vehicle Specs Data.csv")
df['Main Price'].fillna(62000.0, inplace = True)
df['Range (km)'].fillna(235.0, inplace = True)
df_new = pd.DataFrame(zip(df['Full Name'],df['Main Price'],df['Range (km)'], df['Category']))
df_new.rename(columns = {0:'Full Name', 1:'Price',2:'Range',3:'Category'}, inplace = True)
df_model = df_new
df_model['Price with Incentive'] = df_model['Price'].apply(lambda item: item - 6000)

df_model = df_model[df_model['Category'] == 'Berline'].copy()
X = df_model[['Price', 'Range']]
distanceKNN_cars = NearestNeighbors(n_neighbors=5).fit(X)
result = distanceKNN_cars.kneighbors([[price_slider,range_slider]], 5, return_distance = False)
        
        
#distanceKNN_cars = NearestNeighbors(n_neighbors=5).fit(X_select[['Price', 'Range']])
#result = distanceKNN_cars.kneighbors([[price_slider,range_slider]], 5, return_distance = False)

/Users/cedricpinel/opt/anaconda3/envs/streamlite/lib/python3.8/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

In [16]:
result
for i in range(5):
        print(df_model[['Full Name', 'Price','Range','Category','Price with Incentive']].iloc[[result[0][i]]])

          Full Name    Price  Range Category  Price with Incentive
67  MG MG5 Electric  29500.0  400.0  Berline               23500.0
                         Full Name    Price  Range Category  \
41  Hyundai IONIQ 5 Long Range AWD  43600.0  375.0  Berline

    Price with Incentive
41               37600.0
                                 Full Name    Price  Range Category  \
124  Tesla Model 3 Autonomie Standard Plus  43800.0  491.0  Berline

     Price with Incentive
124               37800.0
                          Full Name    Price  Range Category  \
125  Tesla Model 3 Grande Autonomie  52990.0  490.0  Berline

     Price with Incentive
125               46990.0
      Full Name    Price  Range Category  Price with Incentive
101  Polestar 2  58900.0  470.0  Berline               52900.0

In [9]:
X_select

,Full Name,Price,Range,Category,Price with Incentive
3,Audi e-tron GT quattro,103040.0,487.0,Berline,97040.0
4,Audi e-tron GT RS,142830.0,472.0,Berline,136830.0
16,BMW i4 eDrive40,59700.0,475.0,Berline,53700.0
17,BMW i4 M50,71650.0,450.0,Berline,65650.0
41,Hyundai IONIQ 5 Long Range AWD,43600.0,375.0,Berline,37600.0
60,Mercedes EQE 350,86720.0,660.0,Berline,80720.0
61,Mercedes EQS 450+,127250.0,784.0,Berline,121250.0
62,Mercedes EQS 580 4MATIC,152800.0,672.0,Berline,146800.0
67,MG MG5 Electric,29500.0,400.0,Berline,23500.0
101,Polestar 2,58900.0,470.0,Berline,52900.0
102,Porsche Taycan 4S,108632.0,407.0,Berline,102632.0
103,Porsche Taycan Turbo,155552.0,450.0,Berline,149552.0
104,Porsche Taycan Turbo S,189152.0,412.0,Berline,183152.0
124,Tesla Model 3 Autonomie Standard Plus,43800.0,491.0,Berline,37800.0
125,Tesla Model 3 Grande Autonomie,52990.0,490.0,Berline,46990.0
126,Tesla Model S,99990.0,610.0,Berline,93990.0

In [13]:
df_model.iloc[60]

Full Name               Mercedes EQE 350
Price                            86720.0
Range                              660.0
Category                         Berline
Price with Incentive             80720.0
Name: 60, dtype: object

In [14]:
result

array([[ 8,  4, 13, 14,  9]])

In [49]:
dfresult=df_model[['Full Name', 'Price','Range','Category','Price with Incentive']].iloc[result[0]]

In [52]:
dfresult.set_index('Full Name')

,Price,Range,Category,Price with Incentive
Full Name,,,,
MG MG5 Electric,29500.0,400.0,Berline,23500.0
Hyundai IONIQ 5 Long Range AWD,43600.0,375.0,Berline,37600.0
Tesla Model 3 Autonomie Standard Plus,43800.0,491.0,Berline,37800.0
Tesla Model 3 Grande Autonomie,52990.0,490.0,Berline,46990.0
Polestar 2,58900.0,470.0,Berline,52900.0

In [53]:
df_model[['Full Name', 'Price','Range','Category','Price with Incentive']].iloc[result[0]].set_index('Full Name')

,Price,Range,Category,Price with Incentive
Full Name,,,,
MG MG5 Electric,29500.0,400.0,Berline,23500.0
Hyundai IONIQ 5 Long Range AWD,43600.0,375.0,Berline,37600.0
Tesla Model 3 Autonomie Standard Plus,43800.0,491.0,Berline,37800.0
Tesla Model 3 Grande Autonomie,52990.0,490.0,Berline,46990.0
Polestar 2,58900.0,470.0,Berline,52900.0

In [58]:
df_model.style.format({'Price': '{:.0f}', 'Range': '{:.0f}', 'Price with Incentive': '{:.0f}'})

In [ ]:
# code to check to change background in streamlit
import streamlit as st
import base64

main_bg = "sample.jpg"
main_bg_ext = "jpg"

side_bg = "sample.jpg"
side_bg_ext = "jpg"

st.markdown(
    f"""
    <style>
    .reportview-container {{
        background: url(data:image/{main_bg_ext};base64,{base64.b64encode(open(main_bg, "rb").read()).decode()})
    }}
   .sidebar .sidebar-content {{
        background: url(data:image/{side_bg_ext};base64,{base64.b64encode(open(side_bg, "rb").read()).decode()})
    }}
    </style>
    """,
    unsafe_allow_html=True
)